.jsavailability {
	position: relative;
}
.jsavailability .previous-button,
.jsavailability .next-button {
	position: absolute;
	top: 0;
	padding: 0 5px; 
	font-size: 5em;
	line-height: 0.4em;
	color: #666;
	cursor: pointer;
}
.jsavailability .previous-button {
	left: -5px;
}
.jsavailability .next-button {
	right: -5px;
}
.calendar-month {
	display: inline-block;
	width: 30.3%;
	margin: 0 1.4%;
}
.clndr {
	text-align: center;
}
.clndr .controls {
	font-size: 1.166em;
}
.clndr .controls .month {
	display: block;
	padding: 5px 0;
	text-align: center;
	letter-spacing: 1px;
}
.clndr .days {
	display: table;
	width: 100%;
	border-collapse: collapse;
}
.clndr .headers {
	display: table-row;
	border: 1px solid #dcdde0;
}
.clndr .row {
	display: table-row;
}
.clndr .day-header,
.clndr .day,
.clndr .empty {
	display: table-cell;
	width: 14.285%;
	padding: 5px 0;
}
.clndr .day,
.clndr .empty {
	border: 1px solid #dcdde0;
	font-weight: bold;
}
.clndr .day {
	background-color: #ddf9cf;
	background-position: center center;
	background-repeat: no-repeat;
	color: #436F00;
	overflow: hidden;
}
.pageinput .clndr .day {
	cursor: pointer;
}
.clndr .day.event,
.clndr .day.event-start.event-end {
	background-color: #edeff4;
	color: #212121;
}
.clndr .day.event-start.event-end {
	background-image: url(images/icon-car.png);
}
.clndr .day.event-start {
	text-indent: -999px;
	background-image: url(images/icon-car.png), -moz-linear-gradient(left, #ddf9cf 0%, #ddf9cf 50%, #edeff4 50%, #edeff4 100%);
	background-image: url(images/icon-car.png), -webkit-gradient(linear, left top, right top, color-stop(0%,#ddf9cf), color-stop(50%,#ddf9cf), color-stop(50%,#edeff4), color-stop(100%,#edeff4));
	background-image: url(images/icon-car.png), -webkit-linear-gradient(left, #ddf9cf 0%, #ddf9cf 50%, #edeff4 50%, #edeff4 100%);
	background-image: url(images/icon-car.png), -o-linear-gradient(left, #ddf9cf 0%, #ddf9cf 50%, #edeff4 50%, #edeff4 100%);
	background-image: url(images/icon-car.png), -ms-linear-gradient(left, #ddf9cf 0%, #ddf9cf 50%, #edeff4 50%, #edeff4 100%);
	background-image: url(images/icon-car.png), linear-gradient(to right, #ddf9cf 0%, #ddf9cf 50%, #edeff4 50%, #edeff4 100%);
}
.clndr .day.event-end {
	text-indent: -999px;
	background-image: url(images/icon-car.png), -moz-linear-gradient(left, #edeff4 0%, #edeff4 50%, #ddf9cf 50%, #ddf9cf 100%);
	background-image: url(images/icon-car.png), -webkit-gradient(linear, left top, right top, color-stop(0%,#edeff4), color-stop(50%,#edeff4), color-stop(50%,#ddf9cf), color-stop(100%,#ddf9cf));
	background-image: url(images/icon-car.png), -webkit-linear-gradient(left, #edeff4 0%, #edeff4 50%, #ddf9cf 50%, #ddf9cf 100%);
	background-image: url(images/icon-car.png), -o-linear-gradient(left, #edeff4 0%, #edeff4 50%, #ddf9cf 50%, #ddf9cf 100%);
	background-image: url(images/icon-car.png), -ms-linear-gradient(left, #edeff4 0%, #edeff4 50%, #ddf9cf 50%, #ddf9cf 100%);
	background-image: url(images/icon-car.png), linear-gradient(to right, #edeff4 0%, #edeff4 50%, #ddf9cf 50%, #ddf9cf 100%);
}