#calendar-view_c .pagemcontainer p{
	margin:0;
}
#calendar-view_c tr{
	padding:0;
	margin:0;
}
#calendar-view_c td{
	width:15px;
	height:15px;
	padding:0;
	margin:0;
	text-align:center;
	color:#fff;
}
#calendar-view_c .month_name{
	padding-right:10px;
	text-align:right;
	color:#000;
}
#calendar-view_c .append_before .month_name,
#calendar-view_c .append_after .month_name{
	color:#999;
}
#calendar-view_c .day_names td{
	color:#000;
}
#calendar-view_c .f{
	background:#0c0;
}
#calendar-view_c .clickable .f{
	cursor:pointer;
}
#calendar-view_c .f.odd{
	background:#0b0;
}
#calendar-view_c .append_before .f,
#calendar-view_c .append_after .f{
	background:#bbb;
}
#calendar-view_c .append_before .odd.f,
#calendar-view_c .append_after .odd.f{
	background:#aaa;
}
#calendar-view_c .control-1,
#calendar-view_c .control-2{
	text-transform:uppercase;
	background:#ccc;
	padding:5px;
	cursor:pointer;
	padding: 5px 10px 6px 10px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #999;
	color:#000;
}
#calendar-view_c #departure-ctrl{
	cursor:default;
}
#calendar-view_c .control-1:hover,
#calendar-view_c .control-2:hover{
	background:#bbb;
}
#calendar-view_c .control-1.active,
#calendar-view_c .control-2.active{
	background:#999;
}